{% extends 'base.html' %}

{% block title %}
Generated Route
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Search Bar + Map Section -->
        <div class="col">
            <div id="custom-run" style="height: 600px;">
                <div class="folium-map" id="run_map"></div>
            </div>
        </div>
        <!-- Route Info Section -->
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Your Running Route</h5>
                    <p class="card-text">Get ready to hit the pavement! Here's the route we've generated for you.
                        You're about to run {{ distance }} miles!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Place your CSS links here if needed or in the base template -->
<link href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"
    rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"
    rel="stylesheet" />
<style>
    #run_map {
        position: relative;
        width: 100.0%;
        height: 55.0%;
        left: 0.0%;
        top: 0.0%;
    }

    .leaflet-container {
        font-size: 1rem;
    }
</style>

<!-- Place your JavaScript links here if needed or in the base template -->
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
<!-- Your JavaScript code for map initialization and other functions -->
<!-- <script>
    var waypointsString = JSON.parse('{{ waypoints| tojson }}');

    // Remove the surrounding square brackets and split the string into an array of "tuples"
    let waypointsArray = waypointsString.slice(1, -1).split('], [');

    // Convert each "tuple" string into an actual JavaScript array of numbers
    let waypoints = waypointsArray.map(function (coord) {
        // Remove potential leading and trailing parentheses
        coord = coord.replace(/^\(/, '').replace(/\)$/, '');

        // Split the coordinates by comma and convert them to numbers
        return coord.split(', ').map(Number);
    });

    console.log(waypoints);
    let start = waypoints[0];
    var run_map = L.map("run_map", {
        center: start,
        crs: L.CRS.EPSG3857,
        zoom: 100,
        zoomControl: true,
        preferCanvas: false,
    });

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        "attribution": "Data by &copy; <a target='_blank' href='http://openstreetmap.org'>OpenStreetMap</a>, under <a target='_blank' href='http://www.openstreetmap.org/copyright'>ODbL</a>.",
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
    }).addTo(run_map);

    L.marker(start).addTo(run_map);  // Add start marker

    // Loop through waypoints to create polylines
    for (var i = 0; i < waypoints.length - 1; i++) {
        L.polyline([waypoints[i], waypoints[i + 1]], {
            "color": "blue",
            "weight": 5,
            "opacity": 0.7
        }).addTo(run_map);
    }

    // Fit map to waypoints
    run_map.fitBounds(waypoints);

</script> -->

<script>
    // Since 'waypoints' is already in the correct format, you can use it directly
    var waypoints = JSON.parse('{{ waypoints| tojson }}');

    console.log(waypoints);
    let start = waypoints[0];
    var run_map = L.map("run_map", {
        center: start,
        crs: L.CRS.EPSG3857,
        zoom: 100,
        zoomControl: true,
        preferCanvas: false,
    });

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        "attribution": "Data by &copy; <a target='_blank' href='http://openstreetmap.org'>OpenStreetMap</a>, under <a target='_blank' href='http://www.openstreetmap.org/copyright'>ODbL</a>.",
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "opacity": 1,
        "subdomains": "abc",
        "tms": false
    }).addTo(run_map);

    L.marker(start).addTo(run_map);  // Add start marker

    // Loop through waypoints to create polylines
    waypoints.forEach(function (point, index) {
        if (index < waypoints.length - 1) {
            L.polyline([point, waypoints[index + 1]], {
                "color": "blue",
                "weight": 5,
                "opacity": 0.7
            }).addTo(run_map);
        }
    });

    // Fit map to waypoints
    run_map.fitBounds(waypoints);
</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}