{% extends 'base.html' %}
{% block title %}Opti-Run{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Search Bar + Map Section -->
        <div class="col-md-6">
            <div id="map" style="height: 400px;"></div>
        </div>

        <!-- Form Section -->
        <div class="col-md-6">
            <form method="post">
                <!-- Your form fields go here -->
                <div class="mb-3">
                    <label for="address">Search Address:</label>
                    <input type="text" name="address" id="address" class="form-control" placeholder="Enter address">
                </div>
                <hr>
                <div class="mb-3">
                    <label for="distance">Running Distance:</label>
                    <input type="number" class="form-control" id="distance" name="distance" min="0.5" max="3"
                        step="0.01" required>
                </div>
                <div class="mb-3">
                    <label for="incline">Max Incline on Run (%):</label>
                    <input type="number" class="form-control" id="incline" name="incline" min="0" max="15" step="0.1"
                        required>
                </div>
                <div class="mb-3">
                    <label for="gain">Max Overall Elevation Gain:</label>
                    <input type="number" class="form-control" id="gain" name="gain" min="0" required>
                </div>
                <div class="mb-3">
                    <label for="friendliness">Route Friendliness (0-100):</label>
                    <input type="number" class="form-control" id="friendliness" name="friendliness" min="0" max="100"
                        placeholder="0 (not pedestrian-focused) to 100 (only pedestrian)"
                        title="A higher value indicates a preference for pedestrian-first routes. Note: Higher values may increase route finding time."
                        required>
                </div>
                <!-- Add more form fields as needed -->
                <button type="submit" class="btn btn-teal rounded-pill custom-larger-pill">Submit</button>
            </form>
        </div>

    </div>
</div>

<!-- Include external libraries -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Include Leaflet library -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<!-- Include your custom scripts -->
<script src="../static/your-map-script.js"></script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuW1F8SftPkmMN-qOEweDpD6Sbf1bL31k&libraries=places&callback=initMap"></script>




{% endblock %}