{% extends 'base.html' %}
{% block title %}Loading - Opti-Run{% endblock %}

<!-- {% block extra_head %}
{% if refresh %}
<meta http-equiv="refresh" content="5">
{% endif %}
{% endblock %} -->

{% block content %}
<meta http-equiv="refresh" content="5">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <i class="fas fa-spinner fa-spin fa-3x mb-3" style="color: teal;"></i>
            <h2 class="mb-3">Preparing Your Route...</h2>
            <p class="lead">Please wait while we're generating the best route for you. This page will refresh
                automatically. The route generation process has: {{result}}</p>
        </div>
    </div>
</div>
{% endblock %}