{% extends 'base.html' %}
{% block title %}Login - Opti-Run{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-4">Login</h2>
            <form method="post">
                {{ login_form.hidden_tag() }}
                <div class="form-group">
                    {{ login_form.email.label(class="form-label") }}
                    {{ login_form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ login_form.password.label(class="form-label") }}
                    {{ login_form.password(class="form-control") }}
                </div>
                <div class="form-check mb-3">
                    {{ login_form.remember_me(class="form-check-input") }}
                    {{ login_form.remember_me.label(class="form-check-label") }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" name="login-submit"
                        class="btn btn-teal rounded-pill custom-larger-pill">Login</button>
                </div>
                <div class="text-center mt-4">
                    <p>Don't have an account? <a href="{{ url_for('main.register') }}" class="text-teal">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}