{% extends 'base.html' %}
{% block title %}Register - Opti-Run{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="my-4">Register</h2>
            <form method="post">
                {{ register_form.hidden_tag() }}
                <div class="form-group">
                    {{ register_form.first_name.label(class="form-label") }}
                    {{ register_form.first_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.last_name.label(class="form-label") }}
                    {{ register_form.last_name(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.email.label(class="form-label") }}
                    {{ register_form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.password.label(class="form-label") }}
                    {{ register_form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.label(class="form-label") }}
                    {{ register_form.password2(class="form-control") }}
                </div>
                <div class="text-center mt-4">
                    <button type="submit" name="register-submit"
                        class="btn btn-teal rounded-pill custom-larger-pill">Register</button>
                </div>
                <div class="text-center mt-4">
                    <p>Don't have an account? <a href="{{ url_for('main.register') }}" class="text-teal">Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}