attrs
blinker
branca
certifi
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
fiona
folium
fonttools
geographiclib
geopandas
geopy
gurobipy
idna
itsdangerous
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
osmnx
packaging
pandas
Pillow
protobuf
pyparsing
pyproj
python-dateutil
pytz
requests
scipy
shapely
six
tzdata
urllib3
Werkzeug
celery
redis
rq
flask
flask_login
flask-wtf
beautifulsoup4
gunicorn
sqlalchemy==2.0.16
flask_sqlalchemy
psycopg2-binary
Flask-Migrate
python-dotenv
email_validator